#add_wocs_options{width:100%;position:relative;display:inline-block;margin-bottom:15px}
.wrap.postbox{padding:10px 24px 12px}
.msg{color:green;font-size:14px}
#btn_submit{float:left;margin-right:15px}
.cwfw-name-txtbox textarea{width:50%}

.switch {
	position:relative;
	display:inline-block;
	width:60px;
	height:25px;
}

.slider {
	position:absolute;
	cursor:pointer;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#c3c3c3;
	-webkit-transition:.4s;
	transition:.4s;
}

.slider:before {
	position:absolute;
	content:"";
	height:21px;
	width:20px;
	left:4px;
	bottom:2px;
	background-color:#FFF;
	-webkit-transition:.4s;
	transition:.4s;
}

input:checked + .slider {
	background-color:#87c852;
}

input:focus + .slider {
	box-shadow:0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform:translateX(26px);
	-ms-transform:translateX(26px);
	transform:translateX(31px);
}

.slider.round {
	border-radius:34px;
}

.slider.round:before {
	border-radius:50%;
}

span.active-status {
	color:green;
}
.cwfw_wrapper .switch input{
	display: none;
}
/* Tooltip  */
.cwfw_tooltip_icon {background-image: url(../images/help.png);background-size: 16px auto;display: inline-block;height: 17px!important;margin-left: 10px;vertical-align: middle;width: 16px!important;cursor: pointer;}
.cwfw_tooltip_desc{display: none;}